# Expo / React Native .gitignore

# dependencies
/node_modules
node_modules/
/node_modules
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env.local
.env.*.local

# typescript
*.tsbuildinfo

# EAS
.eas/

# Android
android/app/build/
android/build/
android/.gradle/
android/local.properties
*.hprof

# iOS
ios/build/
ios/Pods/
ios/*.xcworkspace
ios/*.xcuserstate

# VS Code
.vscode/

# Logs
*.log